{% extends "base.html" %}

{% block app_content %}
    <div class="container">
    <h2 class="display-4">Artist Page</h2>
    <p class="lead">{{ artist.name }}</p>
    <p class="lead">{{ artist.hometown }}</p>
    <p class="lead">{{ artist.description }}</p>
    </div>

    <div class="container">
    <h2 class="display-4">Events:</h2>
    <ol>
    {% for a2es in artist.a2es %}
        <li><p class="lead">{{ artist.name }} is playing in the {{ a2es.event.name }} event at {{ a2es.event.date.strftime('%B %d, %Y') }}</p></li>
    {% endfor %}
    </ol>
    </div>

{% endblock %}