{% extends "base.html" %}

{% block content %}
    <h1>Caamp:</h1>
    <p>From wikipedia: The band began as a project between childhood friends Taylor Meier and Evan Westfall, who
        met at a summer camp while they were middle school students.[1][2][3] Meier and Westfall graduated from Upper
        Arlington High School in 2012. In 2013 Taylor began playing in coffee shops around Athens while studying at Ohio
        University. They later added bass player Matt Vinson and Joseph Kavalec on the keyboards.</p>
    <p>my favorite caamp songs are 26 and snowshoes</p>
{% endblock %}