{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
    <div class="container">
    {% if name %}
        <p class="lead">{{ name }}</p>
        <p class="lead">{{ location }}</p>
        </div>
    {% else %}
        <div class="container">
        <h1 class="display-4">Create New Venue</h1>
        <form method="post" novalidate>
            {{ form.hidden_tag() }}
            {{ wtf.quick_form(form, button_map={"submit": "btn btn-secondary"}) }}
        </form>
        </div>
    {% endif %}
{% endblock %}













{#{% extends "base.html" %}#}
{##}
{#{% block app_content %}#}
{##}
{#    {% if name %}#}
{##}
{#        <p>{{ name }}</p>#}
{#        <p>{{ location }}</p>#}
{#    {% else %}#}
{#        <h1>Create New Venue</h1>#}
{#    <form action="" method="post" novalidate>#}
{#        {{ form.hidden_tag() }}#}
{#        <p>#}
{#            {{ form.venue_name.label }}<br>#}
{#            {{ form.venue_name(size=32) }}<br>#}
{#            {% for error in form.venue_name.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>#}
{#            {{ form.venue_location.label }}<br>#}
{#            {{ form.venue_location(size=32) }}<br>#}
{#            {% for error in form.venue_location.errors %}#}
{#            <span style="color: red;">[{{ error }}]</span>#}
{#            {% endfor %}#}
{#        </p>#}
{#        <p>{{ form.submit() }}</p>#}
{#    </form>#}
{#    {% endif %}#}
{#{% endblock %}#}